<nav>
  <ul class="main-nav">
    <li><%= link_to "Logout", session_path(current_user.id), method: :delete, class: "logo" %></li>
    <li><%= link_to '新規投稿', new_feed_path,class: "logo" %></li>
    <li><%= link_to 'お気に入り一覧', favorites_path,class: "logo" %></li>
    <li><%= link_to 'マイページ', user_path(current_user.id),class: "logo" %></li>
  </ul>
</nav>

<h1>トップページ</h1>

<table>
  <% @feeds.each do |feed| %>
    <tr>
      <td><%= image_tag feed.image.to_s %></td>
    </tr>
    <tr><td>投稿者：<%= feed.user.name %></td></tr>
    <tr><td>投稿内容：<%= feed.content %></td></tr>
    <tr><td class="btn"><%= link_to 'Show',feed %></td></tr>
      <% if feed.user_id == current_user.id %>
        <tr><td class="btn"><%= link_to 'Edit', edit_feed_path(feed) %></td></tr>
        <tr><td class="btn"><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' }%></td></tr>
      <% end %>
  <% end %>
</table>