<p id="notice"><%= notice %></p>

<h1>お気に入り一覧</h1>
<br>
<div class="btn">
<%= link_to 'Back', feeds_path %>
</div>

<% if @favorites.present? %>
<table>
  <% @favorites.each do |favorite| %>
    <tr><td><%= image_tag favorite.feed.image.to_s %></td></tr>
    <tr><td>投稿者：<%= favorite.user.name %></td></tr>
    <tr><td>投稿内容：<%= favorite.feed.content %></td></tr>
    <td><%= link_to 'お気に入り解除する', favorite_path(id: favorite.id), method: :delete, class: 'btn btn-danger' %></td>
  <% end %>
</table>
<% else %>
  <strong>お気に入りはありません</strong>
<% end %>