<h1>マイページ</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :my_image %>
  <%= image_tag(@user.my_image.url) if @user.my_image && @user.my_image.url %>
  <%= f.file_field :my_image %>
  <%= f.hidden_field :my_image_cache %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "登録" %>
<% end %>

<%= link_to '戻る', user_path(current_user.id) %>