<h1>マイページ</h1>
<br>
<ul>
  <li class="btn-my-page"><%= link_to 'Edit', edit_user_path(@user) %></li>
  <li class="btn-my-page"><%= link_to 'Back', feeds_path %></li>
</ul>

<table>
  <tr><td>自分の写真:<%= image_tag @user.my_image.to_s %></td></tr>
  <tr><td>名前：<%= @user.name %></td></tr>
  <tr><td>email：<%= @user.email %></td></tr>
</table>